@media screen and (max-width: 767px) { 

    .content-one {
       padding: 32px 0px;
    }
    .content-two .text-content {
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 100px auto 0;
        width: 320px;
    }
    .content-two .text-content .txt-one {
        font-size: 20px;
        font-weight: bold;
        color: var(--color-blue);
        
        padding: 0px 30px;
    }
    .content-two .text-content .txt-two {
        font-size: 12px;
        color: var(--color-blue);
        margin: 20px auto;
        padding: 0px 20px;
    }
    .points img {
        position: relative;
    }
    .points .vers-mob {
        display: block;
    }
    .points .vers-desk {
        display: none;
    }
    .points .text-content {
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 30px auto 0;
    }
}
@media (min-width: 768px) {
    body {
        margin: 0px 80pc 0px 80px;
    }
    header {
        width: 600px;
    }
    .intro {
        width: 600px;
    }
    .content-one {
        width: 600px;
        padding: 30px 0px;
    }
    
    .content-one .card {
        width: 420px;
    }
    .content-one .card img {
        margin-right: 10px;
    }
    
    .content-two {
        width: 600px;
    }
    .content-two img {
        width: 600px;
    }
    .content-two .vers-mob {
        display: none;
    }
    .content-two .vers-desk {
        display: block;
        width: 460px;
    }
    .content-two .text-content .txt-one {
        font-size: 20px;
        font-weight: bold;
        color: var(--color-blue);
        padding: 40px 0px 20px;
    }
    .content-two .text-content .txt-two {
        font-size: 14px;
        color: var(--color-blue);
        padding: 10px 0px 10px;
        width: 295px;
    }
    .content-two .text-content {
        width: 380px;
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: 10px auto;
        padding-left: 45px;
    }
    .content-two .text-content button {
        margin: 10px auto;
    }
    .points {
        width: 600px;
    }
    .points .vers-mob {
        display: none;
    }
    .points .vers-desk {
        display: block;
        width: 510px;
    }
    .points img {
        position: relative;
    }
    .points .text-content {
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: left;
        margin: 0 auto;
    }
    .points .text-content .part-one {
        margin: 20px 100px 0px -50px;
    }
    .points .text-content .part-one .nbr-pt{
       margin-top: 20px;
    }
    .points .text-content .part-two {
        margin: 10px 20px 0px 50px;
        width: 135px;
    }
    .points .text-content .btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .points .text-content .btn img{
        margin: 0 10px 5px 0px;
        width: 104px;
        height: 24px;
        
    }
    footer {
        width: 600px;
        padding: 30px 0px;
        justify-content: center;
    }
    footer p {
        padding: 10px 0px;
        width: 330px;
    }
}